*, *::placeholder{
    font-family: 'Poppins', 'Roboto', -apple-system, 'Segoe UI';
}
*, :after, :before {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    color:#424242;
}
h1, h2, h3, h4, h5, h6{
    color:#202020;
}
a {
    text-decoration:none;
    color: #4e3374;
} 
a:hover{
    color: #8e73b6;
}
ul { 
    list-style-type: none; 
    margin: 0.5; 
    padding: 0.5; 
} 
body{
    margin: 0;
    background-color: rgb(231, 239, 245);
}
main {
    width: 75%;
    float: left;
    padding: 2rem 6rem 4rem;
}
aside {
    width: 25%;
    float: right;
    padding: 4rem 1rem 4rem 0;
}
footer {
    margin-top: 4rem;
    width: 100%;
    height: 250px;
}
footer .links-header{
    color: whitesmoke!important;
}
.footer-col {
    background-color: #232323;
    padding-top: 4rem;
    height: 100%;
    float: left;
}
.footer-link{
    color: #777;
    transition: 80ms;
}
.footer-link:hover {
    color: #fff;
}
@media screen and (max-width: 1200px) {
    main {
        width: 70%;
        padding: 2rem 6rem 4rem;
    }

    aside {
        width: 30%;
        padding: 4rem 1rem 4rem 0;
    }
}
@media screen and (max-width: 850px) {
    main {
        width: 100%;
        padding: 2rem 6rem 4rem;
    }

    aside {
        width: 100%;
        padding: 2rem 6rem 4rem;
    }
}

.header{
    background-color: #150728;
    margin: 0;
    width: 100%;
    top: 0;
}
.navbar{
    margin: 0;
    width: 100%;
    padding-top: 0.25rem;
    top: 0;
    background-color: #150728;
}
.fixed{
    position: fixed;
    z-index: 1;
}
.nav-logo{
    padding-left: 4rem;
    display: inline-block;
}
.navbar-items{
    float: right;
    margin: 0 0 0 0;
}
.navbar-item{
    display: inline-block;
    list-style-type: none;
    padding: 0.5rem 0.5rem;
    margin: auto 0.5em;
}
.navbar-link{
    text-decoration: none;
    color: rgb(221, 221, 221);
}
.navbar-link:hover{
    color: white;
}
.mobile-button {
    float: right;
    visibility: hidden;
}

@media screen and (max-width: 720px) {
    .navbar-items {
        clear: both;
        float: left;
        background-color: #0a0018;
        width: 100%;
    }
    .navbar-item {
        display: block;
    }
    .mobile-button {
        visibility: visible;
    }
}
.hero-section{
    background: url('../media/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 42px;
    padding: 6rem 5rem 6rem 8rem;
}
.post-hero-section {
    background: url('../media/cover2.jpg') no-repeat center, linear-gradient(rgba(0,0,0,.15) 50%,rgba(0,0,0,.45));
    background-size: cover;
    background-attachment: scroll;
    margin-top: 42px;
    padding: 6rem 5rem 6rem 8rem;
}
.hero-section h1{
    font-size: 2em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 0 0.5rem;
}
.hero-section p{
    font-size: 1em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: rgb(236, 236, 236);
    margin-top: 0;
}
.links-header {
    margin-top: 0rem;
    margin-bottom: 0.25rem;
}
.links-list{
    margin-top: 0;
    padding-left: 1rem;
}
.p-0{
    padding: 0!important;
}
.m-0 {
    margin: 0 !important;
}
.mb-2 {
    margin-bottom: 1rem;
}

.card{
    display: inline-block;
    background-color: rgb(248, 254, 255);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0, 0.1);
    width: 100%;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}
.card .card-header img{
    border-radius: 8px 8px 0 0;
}
.card .card-body{
    padding: 0rem 1.5rem;
}
.card .card-body h3, .card .card-body h4{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-weight: 500;
}
.card .card-body p{
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.card-zoom{
    transition: transform 0.2s;
}
.card-zoom:hover{
    transform: scale(1.05);
}
.text-muted{
    color: #535353;
}
.bold{
    font-weight: 800!important;
}

article{
    display: flex;
    flex-direction: row;
}
.thumbnail{
    margin-right: 1.5rem;
    width: 150px;
    height: auto;
}
.centered{
    text-align: center;
}
.rounded {
    border-radius: 50%;
}
.btn {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    transition: transform 80ms ease-in;
}
.submit{
    border: 1px solid #207fec;
    background-color: #418ed6;
    color: #ffffff;
    float:right
}
.submit:hover {
    background-color: #207fec;
}
.submit:active {
    background-color: #1465c2;
}
.annuler {
    border: 1px solid rgb(218, 225, 231);
    background-color: rgba(231, 239, 245, 0.678);
    color: #202020;
    float:right;
}
.annuler:hover {
    background-color: rgb(219, 225, 230);
}
.annuler:active {
    background-color: #a7a7a7;
}

.comment-form {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.comment-form textarea {
    width: 100%;
    border-color: #a7a7a738;
    background-color: #cacaca47;
    resize: none;
    font-size: 12pt;
    transition: 300ms;
}

.comment-form textarea:focus {
    border-color: #d8cee746;
    border-bottom-color: #087afd;
    outline: 0;
}

.comment{
    display: flex; 
    flex-direction: row;
    padding: 1%;
}

